.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width:900px) {
  .App {
    flex-direction:column;
    margin-top: 45px;
  }
  svg{
    width: 40px;
  }
  img{
    width: 65vw;
  }
}