* {
  margin: 0;
  padding:0;
  font-family: DIGITAL,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Conteudo{
  height: 80vh;
}

.dark-theme{
  background-color: #000;
}

.dark-theme .Time{
  color: #fff
}

.dark-theme svg path{
  fill: #fff
}